
img {
    max-width: 100%;
    height: auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

p, h1, h2, h3 {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 768px) {

   .salao {
    width: 100%;
    height: auto;
    display: block;
}

    .logo {
        width: 120px;
    }

    #meio img.meio {
        width: 150px;
    }

    .rodizio, .horario, .endereco, .contato, .combinados,
    .entradas, .rolls, .pratos, .bebidas, .pratosquentes,
    .extras, #sobre, .form {
        width: 95%;
        margin: auto;
        text-align: center;
    }

    .wpp {
        width: 40px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }

    .logo {
        width: 100px;
    }

    header nav ul {
        font-size: 16px;
    }
}



